.tablesContainer{
    width: 100%;
    height: 60vh;

}

.homeTable {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.204);
    border-collapse: collapse;
    width: 85rem;
}

.homeTable th {
    padding: 1rem 1rem;
    background-color: #272727;
    color: white;
    text-align: left;
    height: 0.5vh;
    font-weight: 400;
}

.homeTable td{
    padding: 1rem;
}